*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
    height: 550px;
    width: 550px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 200px;
}
.Img1{
    position: absolute;
    top: 0;
    left: 0;
    height: 550px;
    width: 550px;
    background-color: rgb(255, 72, 0);
    background-image: url(./Images/Dolomites3.jpg);
    background-size: 120% 100%;
    transition: 3s ease-out;
}
.Img2{
    position: absolute;
    top: 0;
    left: 0;
    height: 550px;
    width: 550px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    transform: perspective(900px) rotateY(90deg);
    transition: 3s ease-out;
}
.main:hover .Img2{
    transform: perspective(900px) rotateY(180deg);
    /* transform: perspective(200px) rotateY(180deg); */
}
.main:hover .Img1{
    transform: perspective(900px) rotateY(90deg)
    /* transform-origin: center; */
}
