*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: rgb(58, 58, 58);
    height: 800px;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
}
.head{
    background-color: rgb(58, 58, 58);
    height: 200px;
    width: 100%;
}
h1{
    display: block;
    color: white;
    text-align: center;
    font-size: 50px;
    align-items: center;
    line-height: 200px;
    transition: 1s;
}
h1:hover{
    color: green;
    font-size: 55px;
    transition: 1s;
}
.cont{
    height: 600px;
    width: 100%;
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: space-evenly;
}
.slider{
    color: white;
    height: 100px;
    width: 230px;
    position: absolute;
    background-color: rgb(58, 58, 58);
    opacity: 0.8;
    top: 200px;
    margin-top: 100px;
    transition: 1s;
}
p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.b1{
    position: relative;
    display: block;
    background-color: aqua;
    background-image: url(./Images/Spider_Man1.jpeg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 230px;
    overflow: hidden;
}
.b1:hover .slider{
    margin-top: 0px;
    transition: 1s;
}
.b2{
    position: relative;
    display: block;
    background-color: green;
    background-image: url(./Images/Iron_man1.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 230px;
    overflow: hidden;
}
.b2:hover .slider{
    margin-top: 0px;
    transition: 1s;
}
.b3{
    position: relative;
    display: block;
    background-color: blue;
    background-image: url(./Images/Captain1.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 230px;
    overflow: hidden;
}
.b3:hover .slider{
    margin-top: 0px;
    transition: 1s;
}
.b4{
    position: relative;
    display: block;
    background-color: hotpink;
    background-image: url(./Images/Thor1.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 230px;
    overflow: hidden;
}
.b4:hover .slider{
    margin-top: 0px;
    transition: 1s;
}