*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.imgHolder{
    background-color: aqua;
    height: 400px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    transition: 1s;
    overflow: hidden;
}
img{
    height: 400px;
    width: 600px;
}
.para{
    height: 400px;
    width: 600px;
    top: 0px;
    left: -600px;
    position: absolute;
    background-color: black;
    transition: 1s;
    opacity: 0.5;
}
.para #Ptitle{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}
.para #Pdetails{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
.imgHolder:hover .para{
    margin-left: 600px;
}

