*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
    height: 3500px;
    width: 100%;
    /* background-color: aqua; */
    background-image: url(./Images/Mountain.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.main1{
    position: absolute;
    height: 900px;
    width: 1400px;
    background-color: rgb(22, 22, 22);
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}
.main1 .nav{
    position: sticky;
    height: 80px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    top: 0px;
    z-index: 1;
}
.main1 .nav ul li{
    color: rgb(228, 102, 56);
    float: left;
    padding-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    list-style: none;
    font-weight: bold;
    line-height: 80px;
}
.main1 .nav ul li:hover{
    color: black;
    text-decoration: underline;
}
.main1 .nav h1{
    line-height: 80px;
    display: inline;
    padding-left: 215px;
    font-size: 37px;
}
.main1 .nav h3{
    color: white;
    height: 30px;
    width: 110px;
    margin-right: 50px;
    margin-top: 25px;
    float: right;
    line-height: 30px;
    text-align: center;
    background-color: rgb(226, 123, 85);
    align-items: center;
}
.main1 .nav h3:hover{
    box-shadow: 0px 0px 10px black;
}
.main1 .left{
    height: 720px;
    width: 55%;
    background-color:rgb(22, 22, 22);
    float: left;
}
.main1 .left .up{
    background-color:rgb(22, 22, 22);
    height: 50%;
    width: 100%;
    border-bottom: 2px solid white;
}
.main1 .left .up p{
    font-size: 35px;
    color: white;
    font-family: "Merienda", serif;
    text-align: center;
    padding: 0px 125px;
    padding-top: 150px;
}
.main1 .left .up p:hover{
    color: rgb(226, 123, 85);;
}
.main1 .left .down p{
    font-size: 25px;
    color: white;
    font-family: "Jura", serif;
    text-align: center;
    padding: 0px 125px;
    padding-top: 50px;
}
.main1 .left .down p:hover{
    color: rgb(226, 123, 85);;
}
.main1 .left .down #p1{
    font-size: 28px;
    color: white;
    font-family: "Fjalla One", serif;
    text-align: center;
    padding: 0px 125px;
    padding-top: 50px;
}
.main1 .left .down #p1:hover{
    color: rgb(226, 123, 85);;
}
.main1 .right{
    height: 720px;
    width: 45%;
    background-color:rgb(22, 22, 22);
    float: left;
}
.main1 .right .imgR{
    background-image: url(./Images/Dolomites1.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 370px;
    width: 250px;
    position: absolute;
    top: 250px;
    border: 3px solid white;
    border-radius: 20px;
}
.main1 .right .imgR:hover{
    box-shadow: 0px 0px 30px white;
}
.main1 .right .imgL{
    background-image: url(./Images/Dolomites2.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 400px;
    width: 270px;
    position: absolute;
    top: 370px;
    right: 56px;
    border: 3px solid white;
    border-radius: 20px;
}
.main1 .right .imgL:hover{
    box-shadow: 0px 0px 30px white;
}
.main2{
    position: absolute;
    height: 1200px;
    width: 1400px;
    background-color: rgb(255, 255, 255);
    top: 920px;
    left: 50%;
    transform: translate(-50%);
}
.main2 .up{
    position: relative;
    height: 50%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.main2 img{
    position: absolute;
}
.main2 .up p{
    font-family: "Fjalla One", serif;
    height: 500px;
    width: 300px;
    top: 100px;
    right: 60px;
    position: absolute;
    font-size: 30px;
    text-align: center;
}
.main2 .up #p1{
    font-family: "Fjalla One", serif;
    height: 500px;
    width: 300px;
    top: 340px;
    right: 60px;
    position: absolute;
    font-size: 30px;
    text-align: center;
}
.main2 .down{
    position: relative;
    height: 50%;
    width: 100%;
    background-color: rgb(252, 252, 252);
}
.main2 .down img{
    position: absolute;
    top: 70px;
    right: 30px;
}
.main2 .down p{
    font-family: "Jura", serif;
    height: 500px;
    width: 450px;
    top: 150px;
    left: 40px;
    position: absolute;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.main2 .down #p1{
    top: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}
.main3{
    position: absolute;
    height: 1380px;
    width: 1400px;
    background-color: rgb(255, 255, 255);
    top: 2120px;
    left: 50%;
    transform: translate(-50%);
}
.main3 .nav{
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main3 .nav ul li{
    list-style: none;
    float: left;
    color: white;
    display: inline;
    padding-inline: 100px;
    font-size: 52px;
    font-family: "Kranky", serif;
}
.main3 .nav ul li:hover{
    color: rgb(226, 123, 85);
    font-size: 55px;
}
.main3 .nav #list{
    border-right: 2px solid white;
}
.main3 .up{
    position: absolute;
    top: 150px;
    height: 580px;
    width: 100%;
    background-color: rgb(42, 197, 197);
}
.main3 .up .h{
    position: absolute;
    top: 0px;
    height: 200px;
    width: 100%;
    background-color: white;
}
.main3 .up h1{
    font-family: "jura", serif;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    line-height: 200px;
}
.main3 .up .cards{
    top:200px;
    position: absolute;
    height: 380px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.main3 .c{
    height: 380px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main3 .up .card1, .card2, .card3, .card4, .card5{
    display: block;
    height: 380px;
    width: 250px;
    background-color: rgb(206, 205, 205);
    transition: 1s;
}
.main3 .up .c .card1:hover{
    height: 420px;
    width: 300px;
}
.main3 .up .c .card2:hover{
    height: 420px;
    width: 300px;
}
.main3 .up .c .card3:hover{
    height: 420px;
    width: 300px;
}
.main3 .up .c .card4:hover{
    height: 420px;
    width: 300px;
}
.main3 .up .c .card5:hover{
    height: 420px;
    width: 300px;
}
.main3 .up .c .profile{
    height: 55%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main3 .up .c .i{
    height: 170px;
    width: 170px;
    background-color: black;
    border-radius: 50%;
}
.main3 .up .c .img1{
    background-image: url(./Images/d1.jpg);
    background-size: 95% 98%;
    background-position: top center;
}
.main3 .up .c .img2{
    background-image: url(./Images/d2.jpg);
    background-size: 95% 98%;
    background-position: top center;
}
.main3 .up .c .img3{
    background-image: url(./Images/d3.jpg);
    background-size: 95% 98%;
    background-position: top center;
}
.main3 .up .c .img4{
    background-image: url(./Images/d4.jpg);
    background-size: 95% 98%;
    background-position: top center;
}
.main3 .up .c .img5{
    background-image: url(./Images/d5.jpg);
    background-size: 95% 98%;
    background-position: top center;
}
.main3 .up .c .cont{
    height: 45%;
    width: 100%;
    background-color:rgb(230, 230, 230);
}
.main3 .up .cont p{
    font-size: 25px;
    font-family: "Merienda", serif;
    text-align: center;
    padding: 0px 24px;
    font-weight: bolder;
}
.main3 .down{
    position: absolute;
    top: 850px;
    height: 530px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: end;
}
.main3 .down .cont{
    height: 500px;
    width: 90%;
    background-color: rgb(37, 134, 61);
}
.main3 .down .cont p{
    font-size: 40px;
    font-family: "Jura", serif;
    font-weight: bold;
    color: white;
    text-align:start;
    padding: 50px 180px;
}