*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(49, 49, 49);
}
.main{
    position: relative;
    height: 600px;
    width: 800px;
    background-color: grey;
    margin: 100px auto;
}
.b1{
    position: absolute;
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 100px;
    left: 50px;
    animation: Load1 1s ease infinite;
}
.b2{
    position: absolute;
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 100px;
    left: 160px;
    animation: Load2 1s ease infinite;
}
.b3{
    position: absolute;
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 100px;
    left: 270px;
    animation: Load3 1s ease infinite;
}
.b4{
    position: absolute;
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 100px;
    left: 380px;
    animation: Load4 1s ease infinite;
}

@keyframes Load1{
    0%{
        top: 100px;
    }
    20%{
        top: 100px;
    }
    40%{
        top: 300px;
    }
    60%{
        top: 300px;
    }
    80%{
        top: 300px;
    }
    100%{
        top: 300px;
    }
}
@keyframes Load2{
    0%{
        top: 100px;
    }
    20%{
        top: 100px;
    }
    40%{
        top: 100px;
    }
    60%{
        top: 300px;
    }
    80%{
        top: 300px;
    }
    100%{
        top: 300px;
    }
}
@keyframes Load3{
    0%{
        top: 100px;
    }
    20%{
        top: 100px;
    }
    40%{
        top: 100px;
    }
    60%{
        top: 100px;
    }
    80%{
        top: 300px;
    }
    100%{
        top: 300px;
    }
}
@keyframes Load4{
    0%{
        top: 100px;
    }
    20%{
        top: 100px;
    }
    40%{
        top: 100px;
    }
    60%{
        top: 100px;
    }
    80%{
        top: 100px;
    }
    100%{
        top: 300px;
    }
}