body{
    background-color: rgb(41, 41, 41);
}
.main{
    position: relative;
    height: 600px;
    width: 900px;
    background-color: grey;
    margin: 100px auto;
    animation: main 6s linear 0s infinite;
}
.b1{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    top: 200px;
    left: 100px;
    animation: b1 2s linear 0s infinite reverse;
}
.b2{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    top: 200px;
    right: 100px;
    animation: b2 1s linear 0s infinite reverse;
}


@keyframes b2{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-250px);
        height: 50px;
        width: 50px;
    }
    50%{
        transform: translateX(-500px);
        height: 100px;
        width: 100px;
    }
    75%{
        transform: translateX(-250px);
        height: 150px;
        width: 150px;
    }
    100%{
        transform: translateX(0px);
        height: 100px;
        width: 100px;
    }
}