.main{
    height: 900px;
    width: 1400px;
    background-image: url(./Images/stars.jpg);
    margin: auto;
    position: relative;
}
.Sun{
    position: absolute;
    display: block;
    height: 150px;
    width: 150px;
    background-color: rgb(199, 142, 142);
    background-image: url(./Images/sun.jpeg);
    background-position: center center;
    background-size: 150% 150%;
    border-radius: 50%;
    top: 41%;
    left: 45%;
    transform: -50%;
    box-shadow: 0px 0px 200px orange;
}

.Earth{
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: red;
    background-image: url(./Images/earth.jpg);
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
    top: 43%;
    left: 48%;
    transform: -50%;
    transform: rotate(0deg) translatex(280px) rotate(0deg);
    transition: 20s linear;
}
.Moon{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: red;
    background-image: url(./Images/Moon.jpg);
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
    top: 40%;
    left: 45%;
    transform: -50%;
    animation: Moonorbit 10s linear infinite;
    /* transform: rotate(0deg) translatex(100px) rotate(0deg); */
    transition: 5s linear;
}
.main:hover .Earth{
    transform: rotate(360deg) translatex(280px) rotate(-360deg);
}

@keyframes Moonorbit{
    from{
        transform: rotate(0deg) translatex(100px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translatex(100px) rotate(-360deg);
    }
}

