*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    margin: auto;
    width: 800px;
    height: 400px;
    margin-top: 10px;
    font-size: large;
    border: 3px solid black;
}
table #R1{
    background-color: rgb(189, 189, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 80px;
}
td{
    padding-left: 10px;
}
#PC{
    height: 140px;
}
#PH{
    height: 65px;
}
