*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    margin: auto;
    background-color: rgb(167, 166, 166);
    height: 1000px;
    width: 1200px;
}
.main{
    margin: auto;
    background-color: aqua;
    height: 100%;
    width: 88%;
}
.nav1{
    background-color: rgb(242, 236, 236);
    height: 60px;
    width: 100%;
    border-bottom: 2px solid grey;
}
.nav1 ul li{
    line-height: 60px;
    display: inline;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.head{
    background-color: white;
    height: 120px;
    width: 100%;
}
.head h1{
    padding-top: 25px;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head h3{
    padding-top: 0px;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav2{
    background-color: rgb(29, 54, 134);
    height: 65px;
    width: 100%;
}
.nav2 ul li{
    color: white;
    line-height: 60px;
    display: inline;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.cont{ 
    background-color: blueviolet;
    height: 750px;
    width: 100%;
}
.cont .left{
    background-color: brown;
    height: 100%;
    width: 32%;
    float: left;
}
.cont .right{
    background-color: chocolate;
    height: 100%;
    width: 68%;
    float: left;
}
.left .up{
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 100%;
    position: relative;
}
.left .up h2{
    position: absolute;
    height: 45px;
    width: 100%;
    color: white;
    background-color: rgb(77, 76, 76);
    line-height: 45px;
    text-align: center;
    top: 35px;   
}
.left .up ul, .left .down ul{
    position: absolute;
    list-style: square;
    top: 90px;
    font-size: 26px;
    padding-left: 50px;
}
.left .down{
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 100%;
    position: relative;
}
.left .down h2{
    position: absolute;
    height: 45px;
    width: 100%;
    color: white;
    background-color: rgb(77, 76, 76);
    line-height: 45px;
    text-align: center;
    top: 35px;
    
}
.right .up{
    background-color: rgb(255, 255, 255);
    height: 12%;
    width: 100%;
}
.right .up h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 90px;
    padding-left: 25px;
    font-size: 35px;
}
.right .center{
    background-color: rgb(31, 40, 19);
    height: 44%;
    width: 100%;
}
.center .left{
    height: 100%;
    width: 65%;
    background-color: rgb(255, 255, 255);
}
.center .left p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    font-weight: bold;
}  
.down p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 10px;
    font-weight: bold;
}
.center .right{
    background-color: white;
    background-image: url(./Images/meeting.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 35%;
}
.right .down{
    background-color: rgb(255, 255, 255);
    height: 44%;
    width: 100%;
}