@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fontdiner+Swanky&family=Jura:wght@300..700&family=Kranky&family=Merienda:wght@300..900&family=Sigmar+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 2000px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.head{
    position: absolute;
    top: 0px;
    height: 900px;
    width: 100%;
    /* background-image: linear-gradient(to right,rgb(17, 17, 17), rgb(65, 65, 65)); */
    background-image: url(./Images/combo.webp);
    background-size: 100% 120%;
}
.nav{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0px;
    /* background-image: linear-gradient(to right,rgb(17, 17, 17), rgb(65, 65, 65)); */
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 3;
}
.nav .NavName {
    position: absolute;
    color: white;
    border-radius: 20px;
    left: 100px;
    font-family: "Fontdiner Swanky", serif;
    font-size: 40px;
}
.nav ul li{
    list-style: none;
    float: left;
    color: white;
    width: 140px;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.nav ul li:hover{
    color: rgb(255, 211, 17);
}
.nav .contact{
    position: absolute;
    font-size: 23px;
    color: white;
    border-radius: 20px;
    background-color: rgb(255, 211, 17);
    width: 150px;
    height: 32px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    right: 100px;
}
.PopUp{
    position: absolute;
    top: 80px;
    left: 0px;
    height: 820PX;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.619);
}
.PopUp h1{
    position: absolute;
    top:200px;
    left: 50%;
    transform: translate(-50%);
    font-size: 8rex;
    font-family: "Sigmar One", sans-serif;
    color: rgb(255, 211, 17);
    text-align: center;
    text-shadow: 5px 5px red;
    animation: popup 1s ease-out;
}
.PopUp p{
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%);
    font-size: 3.5rex;
    font-family: "Merienda", cursive;
    width: 600px;
    color: white;
    animation: popup1 1s ease-out;
}

@keyframes popup{
    0%{
        left: 0px;
    }
    100%{
        left: 50%;
        transform: translate(-50%);
    }
}
@keyframes popup1{
    0%{
        left: 2000px;
    }
    100%{
        left: 50%;
        transform: translate(-50%);
    }
}



@media (min-width:0px) and (max-width:600px){
    .right{
        position: absolute;
        top: 400px;
        left: 50%;
        height: 100%;
        width: 50%;
        background-color: rgba(240, 248, 255, 0);
    }
}

@media (min-width:1200px) and (max-width:1380px){
    .nav{
        height: 60px;
    }
    .nav .NavName{
        font-size: 25px;
    }
    .nav ul li{
        font-size: 20px;
    }
    .nav .contact{
        font-size: 20px;
        width: 130px;
        height: 28px;
    }
    .PopUp{
        top: 60px;
    }
    .head{
        height: 880px;
    }
}