*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 2000px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.head{
    position: absolute;
    top: 0px;
    height: 600px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(17, 17, 17), rgb(65, 65, 65));

}
.nav{
    position: sticky;
    height: 80px;
    width: 100%;
    top: 0px;
    background-image: linear-gradient(to right,rgb(17, 17, 17), rgb(65, 65, 65));
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 3;
}
.nav ul li{
    position: sticky;
    list-style: none;
    float: left;
    color: white;
    width: 140px;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.nav ul li:hover{
    color: rgb(255, 211, 17);
}
.left{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: rgba(137, 43, 226, 0);
}
.left h1{
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 6rex;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 211, 17);
    text-align: center;
}
.left p{
    position: absolute;
    top: 270px;
    left: 100px;
    font-size: 3.5rex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    color: white;
}
.right{
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: rgba(240, 248, 255, 0);
}
.right .i{
    position: absolute;
    top: 0px;
    left: -200px;
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    background-image: url(./Images/bur.png);
    background-size: 100% 100%;
}
.right .i1{
    position: absolute;
    top: 200px;
    left: 300px;
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    background-image: url(./Images/bur1.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
}

@media (min-width:0px) and (max-width:600px){
    .right{
        position: absolute;
        top: 400px;
        left: 50%;
        height: 100%;
        width: 50%;
        background-color: rgba(240, 248, 255, 0);
    }
}