*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 900px;
    width: 900px;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform:rotateX(70deg); */
}
.sun{
    position: relative;
   margin: auto;
    display: block;
    height: 150px;
    width: 150px;
    background-color: orange;
    /* background-image: url(../Assignments/Images/sun.jpeg); */
    border-radius: 50%;
    transition: 15s linear;
    margin-top: 400px;
    transform: rotateX(90deg);
}
.sun::before{
    position: absolute;
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    top: -100px;
    left: -100px;
    background-color: blue;
    border-radius: 50%;
    border: 10px dotted red;
    /* transform: translateX(-160px) translateY(-160px); */
    /* transition: 1s; */
}
.earthOrbit{
    display: block;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
}
.main:hover .sun{
    transform: rotate(360deg);
}
